
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card bg-success border-success">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Toplam</span>
                    <h5 class="card-title mb-0 text-white">Araba Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @ViewBag.CarCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">@ViewBag.CarCountNumber% <i class="mdi mdi-arrow-up"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.CarCountNumber%;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card bg-success border-success">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Toplam</span>
                    <h5 class="card-title mb-0 text-white">Lokasyon Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @ViewBag.LocationCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">@ViewBag.LocationCountNumber% <i class="mdi mdi-arrow-up"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.LocationCountNumber%;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card bg-warning border-warning">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Toplam</span>
                    <h5 class="card-title mb-0 text-white">Yazar Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @ViewBag.AuthorCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">@ViewBag.AuthorCountNumber% <i class="mdi mdi-arrow-up"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.AuthorCountNumber%;"></div>
                </div>
            </div>
        </div>
    </div> 

    <div class="col-md-6 col-xl-3">
        <div class="card bg-info border-info">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Toplam</span>
                    <h5 class="card-title mb-0 text-white">Blog Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @ViewBag.BlogCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">@ViewBag.BlogCountNumber% <i class="mdi mdi-arrow-up"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.BlogCountNumber%;"></div>
                </div>
            </div>
        </div>
    </div> 
</div>
<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card bg-primary border-primary">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Toplam</span>
                    <h5 class="card-title mb-0 text-white">Marka Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0 text-white">
                            @ViewBag.BrandCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">@ViewBag.BrandCountNumber% <i class="mdi mdi-arrow-up"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.BrandCountNumber%;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card bg-success border-success">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Günlük</span>
                    <h5 class="card-title mb-0 text-white">Ortalama Kiralık Bedeli</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @ViewBag.GetAvgRentPriceForDaily
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">@ViewBag.AvgPriceForDailyNumber <i class="mdi mdi-arrow-up"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.AvgPriceForDailyNumber%;"></div>
                </div>
            </div>
        </div>
    </div> 

    <div class="col-md-6 col-xl-3">
        <div class="card bg-warning border-warning">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Haftalık</span>
                    <h5 class="card-title mb-0 text-white">Ortalama Kiralık Bedeli</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @ViewBag.AvgRentPriceForWeekly
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">@ViewBag.AvgRentPriceForWeeklyNumber% <i class="mdi mdi-arrow-up"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.AvgRentPriceForWeeklyNumber%;"></div>
                </div>
            </div>
        </div>
    </div> 

    <div class="col-md-6 col-xl-3">
        <div class="card bg-warning border-warning">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Aylık</span>
                    <h5 class="card-title mb-0 text-white">Ortalama Kiralık Bedeli</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @ViewBag.AvgRentPriceForMonthly
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">@ViewBag.AvgRentPriceForMonthlyNumber% <i class="mdi mdi-arrow-up"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.AvgRentPriceForMonthlyNumber%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card bg-primary border-primary">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">En Çok</span>
                    <h5 class="card-title mb-0 text-white">Arabaya Sahip Olan Marka</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h5 class="d-flex align-items-center mb-0 text-white">
                            @ViewBag.BrandNameByMostCar
                        </h5>
                    </div>
                  
                </div>
                <div class="col-4 text-right">
                    <span class="text-white-50">@ViewBag.BrandNameByMostCarNumber% <i class="mdi mdi-arrow-down"></i></span>
                </div>
                <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.BrandNameByMostCarNumber%;"></div>
                </div>
            </div>
        </div>
    </div> 

    <div class="col-md-6 col-xl-3">
        <div class="card bg-success border-success">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Toplam</span>
                    <h5 class="card-title mb-0 text-white">Otomatik Araba Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @ViewBag.GetCarCountByTransmissionIsAuto
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">@ViewBag.number9% <i class="mdi mdi-arrow-down"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.number9%;"></div>
                </div>
            </div>
        </div>
    </div> 

    <div class="col-md-6 col-xl-3">
        <div class="card bg-warning border-warning">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Toplam</span>
                    <h5 class="card-title mb-0 text-white">30 Bin Km'den Düşük Araba Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @ViewBag.CarCountByKmLessThan30000
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">@ViewBag.CarCountByKmLessThan30000Number% <i class="mdi mdi-arrow-up"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.CarCountByKmLessThan30000Number%;"></div>
                </div>
            </div>
        </div>
    </div> 

    <div class="col-md-6 col-xl-3">
        <div class="card bg-info border-info">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Tüm Zamanlar</span>
                    <h5 class="card-title mb-0 text-white">Benzin veya Dizel Araba Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @ViewBag.CarCountByFuelGasolineOrDiesel
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">@ViewBag.CarCountByFuelGasolineOrDieselNumber% <i class="mdi mdi-arrow-down"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.CarCountByFuelGasolineOrDieselNumber%;"></div>
                </div>
            </div>
        </div>
    </div> 
</div>
<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card bg-primary border-primary">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Tüm Zamanlar</span>
                    <h5 class="card-title mb-0 text-white">Elektrikli Araba Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0 text-white">
                            @ViewBag.CarCountByFuelElectric
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">@ViewBag.CarCountByFuelElectricNumber% <i class="mdi mdi-arrow-up"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.CarCountByFuelElectricNumber%;"></div>
                </div>
            </div>
        </div>
    </div> 

    <div class="col-md-6 col-xl-3">
        <div class="card bg-success border-success">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Minimum</span>
                    <h5 class="card-title mb-0 text-white">Kiralama Bedelli Araba</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h4 class="d-flex align-items-center text-white mb-0">
                            @ViewBag.CarBrandAndModelByRentPriceDailyMin
                        </h4>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">@ViewBag.CarBrandAndModelByRentPriceDailyMinNumber% <i class="mdi mdi-arrow-down"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.CarBrandAndModelByRentPriceDailyMinNumber%;"></div>
                </div>
            </div>
        </div>
    </div> 

    <div class="col-md-6 col-xl-3">
        <div class="card bg-warning border-warning">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Maksimum</span>
                    <h5 class="card-title mb-0 text-white">Kiralama Bedelli Araba</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @ViewBag.CarBrandAndModelByRentPriceDailyMax
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">@ViewBag.number15% <i class="mdi mdi-arrow-up"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.number15%;"></div>
                </div>
            </div>
        </div>
    </div> 

    <div class="col-md-6 col-xl-3">
        <div class="card bg-info border-info">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Tüm Zamanlar</span>
                    <h5 class="card-title mb-0 text-white">En Çok Yorum Alan Blog Başlığı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @ViewBag.BlogTitleByMostBlogComment
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">@ViewBag.number16% <i class="mdi mdi-arrow-down"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.number16%;"></div>
                </div>
            </div>
        </div>
    </div> 
</div>



