@model List<ResultTestimonialDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}


@if (Model.Count() > 0)
{
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Referanslar Alanı</h4>
                    <p class="card-subtitle mb-4">
                        <code>Referanslar alanında bulunan bilgilerin ekleme, düzenleme ve  silme işlemlerini bu sayfa üzerinden yapabilirsiniz.</code>
                    </p>
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Referans Adı</th>
                                    <th>Meslek</th>
                                    <th>Fotoğraf</th>
                                    <th>Yorum</th>
                                    <th>Güncelle</th>
                                    <th>Sil</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <th scope="row">@count</th>
                                        <td>@item.Name</td>
                                        <td>@item.Title</td>
                                        <td><img height="50px" width="50px" src="@item.ImageUrl" /></td>
                                        <td>@item.Comment</td>
                                        <td><a href="/Admin/Testimonial/UpdateTestimonial/@item.TestimonialId" class="btn btn-outline-success waves-effect waves-light">Güncelle</a></td>
                                        <td><a href="/Admin/Testimonial/RemoveTestimonial/@item.TestimonialId" class="btn btn-outline-danger waves-effect waves-light">Sil</a></td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>



    </div>

    <a href="/Admin/Testimonial/CreateTestimonial" class="btn btn-success btn-lg btn-block waves-effect waves-light">
        Yeni Referans Ekle
    </a>
}

else
{

    <div class="bg-danger text-white p-3 text-center mt-3" style="border-radius:25px;">Kayıtlı Referans Bulunamadı</div>

}







