@model List<ResultContactDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}
<link href="~/Admin/plugins/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="~/Admin/plugins/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="~/Admin/plugins/datatables/buttons.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="~/Admin/plugins/datatables/select.bootstrap4.css" rel="stylesheet" type="text/css" />


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Gelen Mesaj Kutusu</h4>
                <p class="card-subtitle mb-4">
                    <code>Ana sayfa üzerinden kullanıcıların iletişim sayfası aracılığıyla gönderilen mesajlar burada listelenir.</code>.
                </p>

                <table id="basic-datatable" class="table dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Konu</th>
                            <th>E-mail</th>
                            <th>Tarih</th>
                            <th>Ad Soyad</th>
                            <th>İçerik</th>
                        </tr>
                    </thead>


                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;

                            <tr>
                                <td>@count</td>
                                <td>@item.Subject</td>
                                <td>@item.Email</td>
                                <td>@item.SendDate.ToShortDateString()</td>
                                <td>@item.Name</td>
                                <td>@item.Message</td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

